/* You can add global styles to this file, and also import other style files */
.bg-img {
  background-image: url('./assets/angular.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

ol.collection .collection-item{
  background-color: #ffffff70;
}
